PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=super_secret_flash_sale_key_2026_change_in_prod
JWT_EXPIRES_IN=1d

# Database Configuration (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_NAME=flash_sale_db

# Redis Configuration (Lock, Cache, BullMQ)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
